*{
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;
    color: white;
}
body {
    background-color: #222222!important;
}
/* header */
/* @media (min-width: 300px) and (max-width: 1000px) {
    .headerDiv {
        width: 45%!important;
        margin-left: 10%!important;
    }
    .headerTitle {
        font-size: 30px;
    }
    .navBar {

    }
} */


.project-image:hover {
    opacity: 0.5;
    color: white;
}
.projectLink:hover {
    border: 1px solid white;
}
.navItem:hover {
    border: 1px solid white;
}
.selectedItem {
    font-size: larger;
    border-bottom: 1px solid white;
}